.carrucel{
    width: 100%;
}
.fondo{
    background-color: #fcf8ec;
  }
  .cards{
    width:80%;
    margin-left: 10%;
    background-color: #fcf8ec;
    justify-content: center;
  }
.lie{
    margin-left: 10%;
    width: 700px;
   color:#79a3b1;
}
h6:hover{
  color:orange;
}

.bt{
  margin-left:1rem;
  width: 400px;
}
.foot{
  background-color: #456268;
  height: 100px;
  color: white;
  padding: 20px;
}
.logfoot{
  width: 35px;
  height: 35px;
}
.link{
  margin-left: 20px;
  color: white;
}